/* хром, сафари */
html::-webkit-scrollbar {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body {
  background: rgb(52,52,52);
  cursor: url('../img/flag.png'), auto;
}
img {
    width: 100%;
}

#map {
  z-index: 10;
  margin-top: 10px;
  margin-left: 10px;
  width:95%;
  height:95%;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
/*#tooltip {
z-index: 10;
border: 1px solid #fff;
width: 300px;
height: 200px;
display: none;
position: absolute;
}*/

/*#tooltip:hover {
display:block;
position: fixed;
}*/

.region {
  fill:rgba(30,28,27,1);
}
.region:hover, #i_teams:hover, #i_cups:hover, #i_courses:hover, #close:hover {
  cursor: url('../img/flag_active.png'), auto;
  opacity: 0.5;
}

#tooltip {
  border-radius: 10px;
  display: none;
  position: absolute;
  z-index: 11;
  color: rgba(213,213,213,1);
  font-size: 19px;
  text-align:center;
  padding: 4px;
  width: 200px;
  height: auto;
  background-color: rgba(52,52,52,1);
  border: 2px solid rgba(213,213,213,1);
}
#tooltip div {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
#tooltip p {
  font-size: 16px;
  padding: 0;
  margin: 2px;
}

#ctfguy {
  z-index: 9;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.1;
  width: 708px;
  height: 408px;
  background-image: url('../img/ctfguy.png');
}

#legend {
  color: rgba(213,213,213,1);
  z-index: 9;
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 280px;
  overflow-y: auto;
  border-radius: 15px;
  padding: 10px;
  border: 2px solid rgba(213,213,213,1);
}

#legend #title {
  font-size: 16px;
  font-weight: bold;
}

#infoblock {
  color: rgba(213,213,213,1);
  /*color: rgba(30,28,27,1);*/
  z-index: 12;
  position: absolute;
  left: 10%;
  /*margin: auto;*/
  top: 10%;
  width: 80%;
  /*max-width: 900px;*/
  min-height: 80%;
  height: 80%;
  display: none;
  background-color: rgba(52,52,52,1);
  border-radius: 15px;
  /*padding: 10px;*/
  /*border: 2px solid rgba(0,0,0,0.8);*/
  border: 2px solid rgba(213,213,213,1);
  box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
	overflow: hidden;
  /*padding-bottom: 50px;*/
}

#infotitle {
  text-align: left;
  opacity: 0.8;
  /*padding: 10px;*/
  /*font-size: 32px;
  line-height: 32px;
  height: 42px;*/
  /*font-size: 10px;*/
  font-size: 24px;
  /*padding: 0;*/
  border-bottom: 2px solid rgba(213,213,213,1);
}
#infomenu {
  /*float: left;*/
}

.rounded  {
  /*margin: 10px;*/
  width: 150px;
}
.pos-left {
  float: left;
}
#infocommon {
  padding: 10px;
}

#infocommon p {
  padding: 5px;
  margin: 0;
}


.post-container {
    padding-bottom: 8px;
    overflow: auto;
    border-bottom: 2px solid rgba(213,213,213,1);
}
.post-container:last-child {
  border-bottom: 0px;
}
.post-thumb {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.post-thumb img {
    margin-left: 8px;
    display: block;
    width: 150px;
    border-radius: 8px;
}
.post-content {

    /*margin-left: 168px*/
}
.post-content p {
    margin: 0;
    /*-webkit-margin-before: 0;
    -webkit-margin-after: 0;*/
}
.post-title {
  font-size: 18px;
    /*margin: 10px 5px 5px 5px;*/
    /*font-weight: bold;*/
    /*padding: 5px;*/
    color: rgba(213,213,213,1);
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

#infobody {
  /*top: 5%;*/
  /* Firefox */
  max-height: -moz-calc(100% - 58px);
  /* WebKit */
  max-height: -webkit-calc(100% - 58px);
  /* Opera */
  max-height: -o-calc(100% - 58px);
  /* Standard */
  max-height: calc(100% - 58px);
  /*margin: 3px;*/
  /*padding-bottom: 50px;*/
  overflow-y: scroll;
}

/*#infobody:hover {
  overflow-y: scroll;
}*/
#infobody::-webkit-scrollbar-track
{
  display: none;
  /*background: #62e2a2;*/
	/*-webkit-box-shadow: inset 0 0 6px rgba(213,213,213,1);*/
	/*border-radius: 8px;*/
}

#infobody::-webkit-scrollbar
{
  display: none;
  /*width: 8px;*/
  /*-webkit-border-radius: 8px;*/
  !important;
}

#infobody::-webkit-scrollbar-thumb
{
  display: none;
  /*background: rgba(213,213,213,1);*/
  /*border-radius: 8px;*/
	/*-webkit-box-shadow: inset 0 0 6px rgba(213,213,213,1);*/
}

#copyrights {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 11;
  color: rgba(213,213,213,1);
}
#copyrights a {
  color: rgba(213,213,213,1);
}

#close {
  /*height: 100%;
  min-height: 36px;
  line-height: 36px;*/
  /*padding: 5px;*/
  text-align:right;

  /*border: 2px solid rgba(213,213,213,1);
  border-radius: 8px;*/
}

#i_region {
  font-style: italic;
  overflow-x: hidden;
  text-align: right;
}

.close {
    cursor: inherit;
    border: 0;
    font-size: 24px;
    min-height: 100%;
    color: rgba(213,213,213,1);
}
